.ek{
   margin-top: 0%;
    width: 90%;
    height:50%;
  margin-left:  5%;
    background-color: black;
    border: 1px solid gold;
 
}
.first{
    margin-bottom: 0%;
    width: 100%;
    margin-top: 3%;
    height:15%;
  /* margin-left:  27%; */
  font-size: 160%;
    background-color:black;
    color:gold;
    text-align: center;
    

}


#real{
    font-size: 130%;
    /* margin-left: 10%; */
    color: floralwhite;
    text-align: center;
}
.do{
    width: 91%;
    height:15%;
  margin-left:  5%;
    background-color:gold;
}

#button{
    height:45%;
    width: 35%;
    margin-top: 2;
    margin-left:  9%;
    background-color: black;
    font-style:italic;
    font-size: 100%;
    color:gold;
    text-align: center;
}

#name{
    font-size: 170%;
    margin-left:  52%;
    margin-top: 2%;

}



#hed1{
    
    margin-left:  6%;
    font-size: 130%;
    color: gold;
    position: fixed;
}

#hed2{
    margin-top: 25%;
    margin-left:  9%;
    font-size: 220%;
    color: gold;
    position: fixed;

}
