.ek{
   margin-top: 0%;
    width: 50%;
    height:35%;
  margin-left:  27%;
    background-color: black;
    border: 1px solid gold;
 
}
.first{
    margin-bottom: 0%;
    width: 100%;
    margin-top: 1%;
    height:15%;
  /* margin-left:  27%; */
  font-size: 130%;
    background-color:black;
    color:gold;
    text-align: center;
    

}


#real{
    font-size: 150%;
    /* margin-left: 10%; */
    color: floralwhite;
    text-align: center;
}
.do{
    width: 50%;
    height:15%;
  margin-left:  27%;
    background-color:gold;
}

#button{
    height:45%;
    width: 32%;
    margin-top: 2;
    margin-left:  34%;
    background-color: black;
    font-style:italic;
    font-size: 100%;
    color:gold;
    text-align: center;
}

#name{
    font-size: 170%;
    margin-left:  24%;
    margin-top: 2%;

}



#hed1{
    
    margin-left:  5%;
    font-size: 100%;
    color: gold;
    position: fixed;
}

#hed2{
    margin-top: 12%;
    margin-left:  5%;
    font-size: 170%;
    color: gold;
    position: fixed;

}
